body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}




.checkforms.ng-invalid {
    border-radius:5px;
    border-color: red;
}

.editInfo.ng-invalid{
    border-radius:5px;
    border-color: red;
}

.itemInfo.ng-invalid{
    border-radius:5px;
    border-color: red;
}

.personalInfo.ng-invalid{
    border-radius:5px;
    border-color: red;
}

.Auth.ng-invalid{
    border-radius:5px;
    border-color: red;
}

.editInfo.ng-invalid{
    border-radius:5px;
    border-color: red;
}
